<umb-panel ng-controller="People.PersonEditController">
	<umb-header>
	<div class="span4">
	        <input type="text"
                    class="umb-headline" 
                    localize="placeholder"
					select-on-focus 
                    placeholder="@placeholders_entername" 
                    ng-model="person.name" />
	</div>
	<div class="span8">
		<div class="btn-toolbar pull-right umb-btn-toolbar">
			<a href class="btn btn-primary" ng-click="save(person)" prevent-default>Save</a>
		</div>
	</div>
	</umb-header>

    <umb-tab-view>
        <umb-tab id="tab1" rel="svensson">

	<div class="umb-panel-body">
		<div class="umb-pane">
					<umb-control-group label="email" description="Persons email">
						<input type="email" class="umb-editor umb-textstring" ng-model="person.email" />
					</umb-control-group>
			
					<umb-control-group label="bio" description="Personal life details">
						<textarea type="text" class="umb-editor umb-textarea" ng-model="person.bio" ></textarea>
					</umb-control-group>
			
					<umb-control-group label="addresse">
						<input type="text" class="umb-editor umb-textstring" ng-model="person.addresse" />
					</umb-control-group>
		</div>
	</div>

            </umb-tab>
        <umb-tab id="Umb-tab1" rel="svensson">

            </umb-tab>

        </umb-tab-view>
</umb-panel>
